.achievements-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
  
  .achievements-heading {
    font-size: 28px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .accordion {
    width: 100%;
  }
  
  .accordion-item {
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .accordion-title {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(155, 151, 151);
    color: black;
    text-align: left;
  }
  
  .accordion-content {
    padding: 15px;
    background: #fff;
    color: #555;
    text-align: left;
  }
  .achievement-image {
    width: 100%;
    /* max-width: 800px; Increased from 400px to 600px */
    height: 100vh;
    margin: 15px auto; /* Ensures centering */
    display: block;
    border-radius: 5px;
}
.achievement-image + .achievement-image {
  margin-top: 100px; /* or margin-left: 10px if side-by-side */
}
.download-button-graduation{
  display: inline-block;
  /* justify-content: center; */
  background: linear-gradient(to right, #db1e1e, #FF0F03);
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}