.home-container {
  width: 90%;
  /* max-width: 1200px; */
  margin: auto;
}

.carousel-img {
  width: 100%;
  height: 700px; /* Set a fixed height to maintain uniformity */
  /* object-fit: contain;  */
  border-radius: 10px;
}

/* Adjustments for tablets */
@media (max-width: 768px) {
  .home-container {
    width: 95%;
    margin: auto;
  }

  .carousel-img {
    height: 400px; /* Reduce height for tablets */
    border-radius: 5px;
  }
}

/* Adjustments for mobile screens */
@media (max-width: 480px) {
  .carousel-img {
    /* width: 95%; */
    margin: auto;
    height: 400px; /* Reduce height further for small screens */
    border-radius: 5px;
  }
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 35px; /* Adjust size if needed */
  opacity: .75;
}